.Diary {
  section {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  section:last-child {
    margin-bottom: 0;
  }
  h4 {
    font-size: 22px;
  }
  .diary_img_wrapper {
    background-color: #efefef;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .emotion_descript {
    font-size: 25px;
    color: white;
  }
  .diary_content_wrapper {
    width: 100%;
    background-color: #efefef;
    border-radius: 5px;

    p {
      padding: 20px;
      text-align: left;
      font-size: 20px;
      font-family: "Nanum Pen Script";
      font-weight: 400;
      line-height: 2.5;
    }
  }
  .button_werapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

.Diary .diary_img_wrapper_1 {
  background-color: #fd565f;
}
.Diary .diary_img_wrapper_2 {
  background-color: #fd8446;
}
.Diary .diary_img_wrapper_3 {
  background-color: #fdce17;
}
.Diary .diary_img_wrapper_4 {
  background-color: #9dd772;
}
.Diary .diary_img_wrapper_5 {
  background-color: #64c964;
}
