* {
  margin: 0px;
  padding: 0px;
}

.App {
  position: relative;
  text-align: center;
}

/* Login */
.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;

  max-width: 1920px;
  min-height: 100vh;

  width: 375px;
}

.login_img_wrapper {
  width: 85%;
  height: 50%;
}

.login_form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;

  width: 100%;
  height: auto;
}

.login_form_wrapper form {
  width: 100%;
  height: 100%;
}

.login_form input {
  width: 100%;
  height: 45px;
  border-radius: 5px;

  border: 1px solid #eee;
  box-sizing: border-box;
  line-height: 45px;
  margin-bottom: 13px;
  text-indent: 10px;
}

.login_form button {
  width: 100%;
  height: 45px;
  background-color: #3196ee;
  color: white;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  font-size: 18px;
}

.assistance {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin-top: 10px;
}

.assistance button {
  border: 0;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  color: #888;
}

.social_login_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social_login_wrapper button {
  border: 0;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  color: #888;
}

.social_login_wrapper button img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

/* Diary */ ;
