@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: #f6f6f6;
  align-items: center;
  display: flex;
  font-family: "Nanum Pen Script";
  justify-content: center;
  margin: 0px;
  min-height: 100vh;
}

/* 가로가 650px 이상일때 */
@media (min-width: 650px) {
  .App {
    width: 640px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* 가로가 650px 이하일때 */
@media (max-width: 650px) {
  #root {
    min-height: 100vh;
  }
  .App {
    min-width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
}

.New {
  min-height: 100vh;
}

/* common 공통 */
.color_red {
  color: red;
}

.color_blue {
  color: #3bb735;
}

.disabled_btn_true {
  pointer-events: none;
  background-color: #b2dffc;
}

.disabled_btn_false {
  background-color: #3196ee;
  cursor: pointer;
}

.border_red {
  border: 1px solid red;
}

.border_black {
  border: 1px solid #e2e2e2;
}

.border_blue {
  border: 1px solid blue;
}
